body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(to bottom,#4facfe,#00f2fe);
    text-align:center;
}

h1{
    color:white;
    padding:20px;
}

.card{
    background:white;
    width:320px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.card img{
    width:120px;
    height:120px;
}

a{
    background:#2ecc71;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-size:16px;
    text-decoration:none;
}

a:hover{
    background-color:#27ae60;
}
